.grid-container {
    display: grid;
    max-width: 1440px;
    margin: 0 auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:minmax(50px, auto);
    color:white;
    font-family: "Inter", sans-serif;
    gap: 28px;
}
body {
    background-color:  hsl(230, 17%, 14%);
    margin: 0;
}
.title {
    display: flex;
    grid-column:2/4;
    grid-row:2;
    background-color:hsl(232, 19%, 15%);
    flex-direction: column;
    justify-content: flex-end;
    gap:5px;
    font-size: 22px;
    font-weight: 700;
}

.inter {
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-variation-settings:
                    "slnt" 0;
        }
.follower{
color: hsl(228, 34%, 66%);
    font-size: 12px;
}
.darkMode {
    display: flex;
    color: hsl(228, 34%, 66%);
    font-weight: 700;
    font-size: 15px;
    grid-row:2;
    grid-column: 5;
    justify-content: flex-end;
}
.first {
    display: flex;
    grid-column:2;
    grid-row:3;
    flex-direction: column;
    align-items: center;
    background-color: hsl(228, 28%, 20%);
    border-top: solid hsl(208, 92%, 53%);
    border-radius: 5px;
    color:hsl(228, 12%, 44%);
    gap: 17px;
    font-size: 12px;
}
.second {
    display: flex;
    grid-column: 3;
    grid-row: 3;
    flex-direction: column;
    align-items: center;
    background-color: hsl(228, 28%, 20%);
    border-top: solid hsl(208, 92%, 53%);
    border-radius: 5px;
    color:hsl(228, 12%, 44%);
    gap: 17px;
    font-size: 12px;
}

.third {
    display: flex;
    grid-column: 4;
    grid-row: 3;
    flex-direction: column;
    align-items: center;
    background-color: hsl(228, 28%, 20%);
    border-radius: 5px;
    border-top: solid;
    border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) 1;
    color:hsl(228, 12%, 44%);
    gap: 17px;
    font-size: 12px;
}

.fourth {
    display: flex;
    grid-column: 5;
    grid-row: 3;
    flex-direction: column;
    align-items: center;
    background-color: hsl(228, 28%, 20%);
    border-top: solid hsl(348, 97%, 39%);
    border-radius: 5px;
    color:hsl(228, 12%, 44%);
    gap: 17px;
    font-size: 12px;
}

.overview {
    display: flex;
    grid-column: 2/6;
    grid-row: 4;
}

.fifth {
        display: flex;
        grid-column: 2;
        grid-row: 5;
        flex-direction: column;
        background-color: hsl(228, 28%, 20%);
        color:hsl(228, 12%, 44%);
        font-size: 14px;
        font-weight: 700;
        border-radius: 5px;

}
.sixth {
        display: flex;
        grid-column: 3;
        grid-row: 5;
    flex-direction: column;
    background-color: hsl(228, 28%, 20%);
    color:hsl(228, 12%, 44%);
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
}


.seventh {
    display: flex;
    grid-column: 4;
    grid-row: 5;
    flex-direction: column;
    background-color: hsl(228, 28%, 20%);
    color:hsl(228, 12%, 44%);
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
}

.eighth {
    display: flex;
    grid-column: 5;
    grid-row: 5;
    flex-direction: column;
    background-color: hsl(228, 28%, 20%);
    color:hsl(228, 12%, 44%);
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
}

.nineth {
    display: flex;
    grid-column: 2;
    grid-row: 6;
    flex-direction: column;
    background-color: hsl(228, 28%, 20%);
    color:hsl(228, 12%, 44%);
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
}

.tenth {
    display: flex;
    grid-column: 3;
    grid-row: 6;
    flex-direction: column;
    background-color: hsl(228, 28%, 20%);
    color:hsl(228, 12%, 44%);
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
}

.eleventh {
    display: flex;
    grid-column: 4;
    grid-row: 6;
    flex-direction: column;
    background-color: hsl(228, 28%, 20%);
    color:hsl(228, 12%, 44%);
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
}

.twelfth {
    display: flex;
    grid-column: 5;
    grid-row: 6;
    flex-direction: column;
    background-color: hsl(228, 28%, 20%);
    color:hsl(228, 12%, 44%);
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
}
.account{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    gap: 5px;
}
.number {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 50px;
}
.subscriber {
    color: hsl(228, 12%, 44%);
    font-size: 12px;
}
.update{
    display: flex;
    color: hsl(163, 72%, 41%);
    align-items: center;
    gap: 5px;
}
.updateRed{
    display: flex;
    color: hsl(356, 69%, 56%);
    align-items: center;
    gap: 5px;
}
.overview{
    color:white;
    font-family: "Inter", sans-serif;
    font-size: 23px;
    font-weight: 700;
}
.firstRow{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.secondRow{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.smallNumber{
    color:white;
    font-family: "Inter", sans-serif;
    font-size: 23px;
    font-weight: 700;
}
.percentageUp{
    display: flex;
    color: hsl(163, 72%, 41%);
    gap: 5px;
}
.percentageDown{
    display: flex;
    color: hsl(356, 69%, 56%);
    gap: 5px;
}
.updatePer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
@media screen and (max-width: 576px) {
    .grid-container {
        display: block;
        max-width: none;
        margin: 15px;
        gap: 20px 0;
    }
    .title, .darkMode, .overview, .follower, .first, .second, .third, .fourth,
    .fifth, .sixth, .seventh, .eighth, .nineth, .tenth, .eleventh, .twelfth {
        width: 100%;
        grid-column: auto;
        grid-row: auto;
        margin-bottom: 20px;
    }
}
