.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:minmax(50px, auto);
    color:white;
    font-family: "Inter", sans-serif;
    gap: 30px;
}
body {
    background-color:  hsl(230, 17%, 14%);
}
.title {
    display: flex;
    grid-column:2/3;
    grid-row:0/1;
    background-color:hsl(232, 19%, 15%);
    flex-direction: column;
    font-size: 25px;
    font-weight: 700;
}
.inter {
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-variation-settings:
                    "slnt" 0;
        }
.follower{
color: hsl(228, 34%, 66%);
    font-size: 12px;
}
.darkMode {
    color: hsl(228, 34%, 66%);
    font-size: 15px;

}
.first {
    display: flex;
    grid-column:2;
    grid-row:2;
    flex-direction: column;
    align-items: center;
    background-color: hsl(228, 28%, 20%);
    border-top: solid hsl(208, 92%, 53%);
    border-radius: 5px;
    color:hsl(228, 12%, 44%);
    gap: 17px;
    font-size: 12px;
}
.second {
    display: flex;
    grid-column: 3;
    grid-row: 2;
    flex-direction: column;
    align-items: center;
    background-color: hsl(228, 28%, 20%);
    border-top: solid hsl(208, 92%, 53%);
    border-radius: 5px;
    color:hsl(228, 12%, 44%);
    gap: 17px;
    font-size: 12px;
}

.third {
    display: flex;
    grid-column: 4;
    grid-row: 2;
    flex-direction: column;
    align-items: center;
    background-color: hsl(228, 28%, 20%);
    border-radius: 5px;
    border-top: solid;
    border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) 1;
    color:hsl(228, 12%, 44%);
    gap: 17px;
    font-size: 12px;
}

.fourth {
        display: flex;
        grid-column: 5;
        grid-row: 2;
    flex-direction: column;
    align-items: center;
    background-color: hsl(228, 28%, 20%);
    border-top: solid hsl(348, 97%, 39%);
    border-radius: 5px;
    color:hsl(228, 12%, 44%);
    gap: 17px;
    font-size: 12px;
}

.overview {
    display: flex;
    grid-column: 2;
    grid-row: 3;
}

.fifth {
        display: flex;
        grid-column: 2;
        grid-row: 4;
}

.sixth {
        display: flex;
        grid-column: 3;
        grid-row: 4;
}

.seventh {
        display: flex;
        grid-column: 4;
        grid-row: 4;
}

.eighth {
        display: flex;
        grid-column: 5;
        grid-row: 4;
}

.nineth {
        display: flex;
        grid-column: 2;
        grid-row: 5;
}

.tenth {
        display: flex;
        grid-column: 3;
        grid-row: 5;
}

.eleventh {
        display: flex;
        grid-column: 4;
        grid-row: 5;
}

.twelfth {
        display: flex;
        grid-column: 5;
        grid-row: 5;
}
.account{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    gap: 5px;
}
.number {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 50px;
}
.subscriber {
    color: hsl(228, 12%, 44%);
    font-size: 12px;
}
.update{
    display: flex;
    color: hsl(163, 72%, 41%);
    align-items: center;
    gap: 5px;
}
.updateRed{
    display: flex;
    color: hsl(356, 69%, 56%);
    align-items: center;
    gap: 5px;
}